<% @questions.each do |question| %>

	<div id="card">
	<fieldset>
		<div id="card_ingredients">
			<%= question.ingredients %><br><br>
		</div>
		<br><br><br>
		<div id="card bottom">
			<% unless question.time_posted.nil? %>
				<%= question.time_posted.to_time %> 
			<% end %>
		</div>
	</fieldset>
	<%= link_to "ANSWER", question_path(question.id) %> 
</div>

<% end %>