<h3 id="question-title">What can I make?</h3>
<fieldset id="question-desc">
	
	<div>I have <%= @question.ingredients %> and am looking to cook for <%="#{@question.occasion}" %></div>
	
	<br></br>
	<div id="notes">
		<% if @question.difficulty_level == 1 %>
			<div>Cooking level: Beginner &nbsp;</div>
		<% end %>
		<% if @question.difficulty_level == 2 %>
			<div>Cooking level: Intermediate &nbsp;</div>
		<% end %>
		<% if @question.difficulty_level == 3 %>
			<div>Cooking level: Expert &nbsp;</div> 
		<% end %>
		Other notes: <%= @question.notes %>
	</div>
		
</fieldset>
<%= link_to(new_answer_path(question_id: @question.id), id: 'question_answer', remote: true) do %>
    Suggest Recipe
<% end %> 
