
<h1 id="new-question">New Recipe Question</h1>
<p id="new-question-sub">Fill out the ingredients you have, your expertise at cooking, the cooking time range, occassion of your dish, and other notes. </p>

<div class="large-2 columns">
	<p></p>
</div>
<div class="large-8 columns" id="question-form">
	<%= render 'form' %>
</div>
<div class="large-2 columns">
	<p></p>
</div>





