<div class="top-bar">
	<ul class="left">
		<li>&nbsp;</li>
		<%= image_tag 'logo.png' %>
		<%= link_to "FOODSOURCE", home_path %>
	</ul>
	<ul class="right">
		<li>&nbsp;</li>
		<%= link_to "ASK", new_question_path %>
		&nbsp;&nbsp;
		<%= link_to "BROWSE", questions_path %>
	</ul>
</div>
