<div class = "row">
  <div class="small-5 columns">
    <div class="ask">
      <%= link_to "ASK", new_question_path %>
    </div>
  </div>
  <div class="small-5 columns">
    <div class="centered">
      <%= link_to "ANSWER", questions_path %>
    </div>
  </div>
</div>