<h1 id="welcome">I have: </h1>
<div class="slider">
  <div>
    <p>
      bananas
    </p>
    <p>
      basil
    </p>
    <p>
      okra
    </p>
    <p>
      portobello mushrooms
    </p>
  </div>
</div>
<p id="underline">____________</p>
<h1 id="welcome-sub">What should I make?</h1>

<div class = "row">
  <div class="small-5 columns">
    <div class="ask">
      <%= link_to "ASK", new_question_path %>
    </div>
  </div>
  <div class="small-5 columns">
    <div class="centered">
      <%= link_to "ANSWER", questions_path %>
    </div>
  </div>
</div>
