<%= simple_form_for @answer, html: { :class => 'form-horizontal' }, remote: true do |f| %>
  <%= f.input :text, label: "Suggestions", input_html: {class: "avg"} %>

  <p>&nbsp;</p>
  <div class="form-actions">
    <%= f.submit nil, class: 'button tiny radius' %>
    <%= link_to 'Cancel', questions_path, class: 'button tiny radius alert' %>
  </div>
<% end %>