/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self
 *= require simple_form
 *= require jquery.ui.all
 *= require foundation_and_overrides

 */

.top-bar ul a{
	font-size: 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding: 3px;
	color: #FFF;
}

.top-bar {
	height: 55px;
}

.top-bar ul {
	padding-left: 20px;
	padding-right: 50px;
}

.top-bar ul a:hover {
	background-color: #800144;
	border: 1px solid;
	padding-left: 5px;
	padding-right: 5px;
	border-color: #FFF;
}

img {
	position: relative;
	height: 30px;
	padding-bottom: 7px;
}

 a{
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding: 3px;
	color: #800144;
}

#question{
	width: 90%;
	padding-left: 10%;
}

#question fieldset{
	border-width: 2px;
	border-color: #800144;
}
#question h3 {
	padding-left: 5%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #800144;
}

#question a {
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding: 3px;
	color: #800144;
}

#question a:hover {
	background-color: #FFF;
	border: 1px solid;
	border-color: #800144;
}

#index_title{
	padding-top: 20px;
	text-align: center;
}

#index_title h3{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #800144;
}

#card {
	height: 250px;
	width: 33%;
	float: left;
	padding: 5%;
}

#card table{
	border-width: 0px;
}

#card fieldset {
	height: 160px;
	border-width: 2px;
	border-color: #800144;
}

#card_ingredients {
	font-size: 20px;
}

#card_bottom{
	float: center;
	padding-top: 50%;

}

#card a{
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding: 3px;
	color: #800144;
}

#card a:hover {
	background-color: #FFF;
	border: 1px solid;
	border-color: #800144;
}

#welcome {
	padding-top: 75px;
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;

}

#welcome-sub {
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;

}

#underline {
	text-align: center;
	margin-top: -10px;
}

.slider {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  height: 18px;
  font-size: 16px;
  overflow: hidden;
  text-align: center;
}

.slider div, .slider div p {
  margin: 0;
  padding: 0;
}

.slider div {
  animation: slide 10s 2s infinite;
}

@keyframes slide {
  0% { margin-top: 0; }
  25% { margin-top: -18px; }
  50% { margin-top: -36px; }
  75% { margin-top: -54px; }
  100% { margin-top: 0; }
}

.centered {
	float: center;
	padding-top: 40%;

}

.centered a{
	font-size: 40px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding: 100px;
	color: #800144;
	margin-top: 100px;
	border: 3px solid;
	border-color: #800144;
}
.ask {
	float: center;
	padding-top: 40%;
}

.ask a{
	float: center;
	font-size: 40px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding-left: 120px;
	padding-right: 120px;
	padding-top: 100px;
	padding-bottom: 100px;
	color: #800144;
	border: 3px solid;
	border-color: #800144;
}

.centered a:hover {
	background-color: #FFF;
	color: #9A587B;
	border-color: #9A587B;
}

.ask a:hover {
	background-color: #FFF;
	color: #9A587B;
	border-color: #9A587B;
}

#new-question {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #800144;
	text-align: center;
	font-size: 30px;
	padding-top: 20px;
}

#question-form {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	display: block;
}